    
@{
    ViewData["Title"] = "AddtoWareH";
}

<form asp-controller="Product" asp-action="AddtoWareH" method="post">
    <input type="hidden" name="ProductId" value="@ViewBag.ProductId" />

</form>
