@using Accounting_Software.ViewModel;
@model WareHouseViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToWareHouse</title>
</head>
<body>
</body>
</html>
